<% if !can? :create, Post %>
<div class="guest_home">
  <div class="border_msg">
    <div class="guest_msg1">Hi stranger<em>!</em></div>
    <div class="guest_msg2">Don't be shy</div>
    <div class="guest_msg3">Share your <em><strong>fashion</strong></em> style</div>
    <div class="guest_msg4"><%= link_to new_user_registration_url, class: "signup_btn" do %>
            Sign Up <em>Here</em><% end %></div>
  </div>
</div>
<% end %>

<% if can? :create, Post %>
<main class="container col-md-10 col-md-offset-3">
  <%= render "form" %>
  <br>
  <%= render @posts %>
</main>
<% end %>
