@import "bootstrap-sprockets";
@import "bootstrap";

.guest_home {
  height: 100vh;
  width: 100vw;
  background-image: url(http://bit.ly/2a68y6U);
  background-size: cover;
}

.border_msg {
  display: block;
  float: left;
  height: 300px;
  width: 330px;
  position: fixed;
  top: 180px;
  left: 210px;
}

.guest_msg1 {
  display: block;
  height: 35px;
  width: 130px;
  background-color: white;
  position: relative;
  top: 30px;
  left: 20px;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Helvetica;
}

.guest_msg2 {
  height: 35px;
  width: 135px;
  background-color: white;
  position: relative;
  top: 50px;
  left: 20px;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Helvetica;
  display: block;
}

.guest_msg3 {
  height: 35px;
  width: 245px;
  background-color: white;
  position: relative;
  top: 70px;
  left: 20px;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Helvetica;
  display: block;
}

.signin_btn {
    position: relative;
    top: 60px;
    float: right;
    margin-right: 120px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px;
}

.signup_btn {
    position: relative;
    top: 120px;
    float: right;
    margin-right: 120px;
    font-size: 28px;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px;
    color: red;
}

.signup_btn a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: red;
    background-color: black;
}

.notice_nav {
  padding-top: 15px;
}

.alert_nav {
  padding-top: 15px;
}

main {
  padding-top: 80px;
}
